
:root {
    --master-color:white;
    --altrnat1-color:#9e9e9e;
}
a {
    display: block;
}


/* delet */

/* if container here style header transfer his 
.header .container {code}
*/
.header {
    display:flex;
    justify-content: space-between;
    position: sticky;       
    top: 0;
    left: 0;
    height: 60px;
    background-color: #070707ab;
    max-width: 100%;
    padding: 0 10px ;
    align-items: center;
}

.header .log {
    width: 30%;
    display: flex;
    justify-content: center;
}
.header .log a{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--master-color);
}
.header .nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    transition: 0.3s ;
    z-index: 5000;
}
.header .nav a{
    margin-right: 10px;
    padding: 6px 10px;
    color: var(--master-color);
    font-size: 1.1rem;
    letter-spacing: 1.3px;
}
.header .nav a:hover {
    background-color: var(--altrnat1-color);
    }
/* start icon open */
.header .open {
    width: 30px;
    height: 30px;
    position: relative ;
    margin-right: 10px;
    display: none;
    transition: .3s;
    background-color: #070707ab;
}
.header .open i{
    width: 30px;
    height: 3px;
    background-color: var(--master-color);
    position: absolute ;
    margin-right: 10px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

}
.header .open::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--master-color);
    position: absolute ;
    top: -6px;
    left: 0;
}
.header .open::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--master-color);
    position: relative ;
    position: absolute ;
    bottom: -6px;
    left: 0;
}
/* end icon open */
/* start icon close */
.header .close {
    width: 30px;
    height: 30px;
    position: relative ;
    margin-right: 10px;
    display: none;
    top: 0;
    right: 2px;
    transform: translateY(-50%);
    transition: .3s;
}
.header .close::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--master-color);
    position: absolute ;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
}
.header .close::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--master-color);
    position: relative ;
    position: absolute ;
    top: 0;
    right: 0;
    transform: rotate(45deg);

}
/* end icon close */
@media(max-width:550px) {
    .header  {
        height: 90px;
    }
    .header .open {
        display: block;
    }
    .header .nav {
        position: absolute;
        top: 99%;
        left: 0;
        flex-direction: column;
        height: calc(100vh - 60px);
        background-color: transparent;
        justify-content: flex-start;
    }
    .header .nav a{
        margin-right: 0;
        padding: 15px 15px;
        color: var(--master-color);
        font-size: 1.3rem;
        letter-spacing: 1.3px;
        width: 100%;
    }
}
@media(min-width:550px) {

    .header .nav {
        background-color: transparent;

    }
}

/* start media quary */