
:root {
    --master-color:black;
    --altrnat1-color:#c5c4c4;
}
a {
    display: block;
    text-decoration: none;
}


/* delet */

/* if container here style header transfer his 
.header .container {code}
*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 60px;
    background-color: #c8c8c8ab;
}

.header .log {
    width: 30%;
    display: flex;
    justify-content: center;
}
.header .log a{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}
.header .nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    transition: 0.3s ;
    z-index: 5000;
    transition: .3s;
}
.header .nav a{
    margin-right: 10px;
    padding: 6px 10px;
    color: var(--master-color);
    font-size: 1.1rem;
    letter-spacing: 1.3px;
    transition: .3s;
}
.header .nav a:hover {
    background-color: var(--altrnat1-color);
    }
/* start icon  */
.header .icon {
    width: 40px;
    height: 40px;
    position: relative;
    text-align: left;
    display: none;
}

.header .icon img{
width: 100%;
}

@media(max-width:992px) { 
    .header  {
        height: 90px;
    }
    .header .icon {
        display: inline-block;
    }
    .header .nav {
        display: none;
        position: absolute;
        top: 99%;
        left: 0;
        flex-direction: column;
        min-height: calc(40vh - 60px);
        background-color: var(--altrnat1-color);
        justify-content: flex-start;
    } 
    .header .open{
        display: flex;
    } 
    .header .nav a{
        margin-right: 0;
        padding: 15px 15px;
        color: var(--master-color);
        font-size: 1.3rem;
        letter-spacing: 1.3px;
        width: 100%;
    }
} 
/* start media quary */
/* end icon  */